extends layout

block body
  body.nav-md
  .container.body
    .main_container
      // i menu
      include menu
      // f menu
      // i top navigation
      include topNav
      // f top navigation
      // i page content
      block content
      // f page content