extends shared/index

block content
  body(style='background:#F7F7F7;')
    div
      a#toregister.hiddenanchor
      a#tologin.hiddenanchor
      #wrapper
        #login.animate.form
          section.login_content

            - if (message.length > 0)
              div.alert.alert-danger.alert-dismissible.fade.in(role="alert")
                =message

            form(action='/login', method="post")
              h1 Login Form
              div
                input.form-control(type='email', placeholder='Email', required='', name='email')
              div
                input.form-control(type='password', placeholder='Password', required='', name='password')
              div
                button.btn.btn-default.submit(type='submit') Log in
                a.reset_pass(href='#') Lost your password?
              .clearfix
              .separator
                p.change_link
                  | New to site?
                  a.to_register(href='#toregister')  Create Account 
                .clearfix
                br
                div
                  h1
                    i.fa.fa-paw(style='font-size: 26px;')
                    |  Gentelella Alela!
                  p
                    | ©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms
            // form
          // content
        #register.animate.form
          section.login_content
            form(action='/signup', method="post")
              h1 Create Account
              div
                input.form-control(type='email', placeholder='Email', required='', name='email')
              div
                input.form-control(type='password', placeholder='Password', required='', name='password')
              div
                button.btn.btn-default.submit(type='submit') Submit
              .clearfix
              .separator
                p.change_link
                  | Already a member ?
                  a.to_register(href='#tologin')  Log in 
                .clearfix
                br
                div
                  h1
                    i.fa.fa-paw(style='font-size: 26px;')
                    |  Gentelella Alela!
                  p
                    | ©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms
            // form
          // content