form(action='/login', method="post")
  div
    input(type='text', class='form-control', placeholder='E-mail', name='email')

  div
    input(type='password', class='form-control', placeholder='Password', name='password')
             
  div
    button(type='submit', class='btn-u btn-block') Register